body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.firstContainer {
    background-color: #eeeeee;
    border-radius: .5rem;
}

.imgTable {
    height: 3rem;
}